In [42]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer

In [43]:
some_dict = [{'name': 'Breaking bad', 'imdb': 9.8},   
             {'name': 'Walking dead', 'imdb': 8.9},   
             {'name': 'Inception', 'imdb': 9}]

In [44]:
df_dict = pd.DataFrame(some_dict)
df_dict

   imdb          name
0   9.8  Breaking bad
1   8.9  Walking dead
2   9.0     Inception

In [45]:
vec = DictVectorizer()

In [46]:
transformed_vector = vec.fit_transform(some_dict).toarray()
transformed_vector

array([[9.8, 1. , 0. , 0. ],
       [8.9, 0. , 0. , 1. ],
       [9. , 0. , 1. , 0. ]])

In [47]:
vec.get_feature_names()

['imdb', 'name=Breaking bad', 'name=Inception', 'name=Walking dead']

In [48]:
vec.vocabulary_

{'name=Breaking bad': 1,
 'imdb': 0,
 'name=Walking dead': 3,
 'name=Inception': 2}

In [49]:
df = pd.DataFrame(transformed_vector, columns=vec.get_feature_names())

In [50]:
df

   imdb  name=Breaking bad  name=Inception  name=Walking dead
0   9.8                1.0             0.0                0.0
1   8.9                0.0             0.0                1.0
2   9.0                0.0             1.0                0.0